.listItem {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}
.list {
  display: flex;
  flex-direction: column;
  min-width: calc(100% / 2 - 40px);
}
.list.albumImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
